In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing,
import os
from sklearn.model_selection  import train_test_split, GridSearchCV
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.tree import  DecisionTreeClassifier

In [2]:
print("Path:",format(os.getcwd()))

Path: C:\Users\POLADI KALYAN REDDY\datasci

In [3]:
Gamer=pd.read_csv("F:/programming for data analysis/kalyan reddy poladi/car.csv")

In [4]:
Gamer.head()

,buying_price,maintainance_cost,no_of_doors,no_of_persons,lug_boot,safety,decision
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc

In [5]:
Gamer.tail()

,buying_price,maintainance_cost,no_of_doors,no_of_persons,lug_boot,safety,decision
1723,low,low,5more,more,med,med,good
1724,low,low,5more,more,med,high,vgood
1725,low,low,5more,more,big,low,unacc
1726,low,low,5more,more,big,med,good
1727,low,low,5more,more,big,high,vgood

In [6]:
Gamer.columns

Index(['buying_price', 'maintainance_cost', 'no_of_doors', 'no_of_persons',
       'lug_boot', 'safety', 'decision'],
      dtype='object')

In [7]:
Gamer.nunique()

buying_price         4
maintainance_cost    4
no_of_doors          4
no_of_persons        3
lug_boot             3
safety               3
decision             4
dtype: int64

In [8]:
Gamer.describe()

,buying_price,maintainance_cost,no_of_doors,no_of_persons,lug_boot,safety,decision
count,1728,1728,1728,1728,1728,1728,1728
unique,4,4,4,3,3,3,4
top,med,med,3,2,small,med,unacc
freq,432,432,432,576,576,576,1210

In [9]:
Gamer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   buying_price       1728 non-null   object
 1   maintainance_cost  1728 non-null   object
 2   no_of_doors        1728 non-null   object
 3   no_of_persons      1728 non-null   object
 4   lug_boot           1728 non-null   object
 5   safety             1728 non-null   object
 6   decision           1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [10]:
X=Gamer.drop('decision',axis=1)
y=Gamer['decision']

In [11]:
X

     buying_price maintainance_cost no_of_doors no_of_persons lug_boot safety
0           vhigh             vhigh           2             2    small    low
1           vhigh             vhigh           2             2    small    med
2           vhigh             vhigh           2             2    small   high
3           vhigh             vhigh           2             2      med    low
4           vhigh             vhigh           2             2      med    med
...           ...               ...         ...           ...      ...    ...
1723          low               low       5more          more      med    med
1724          low               low       5more          more      med   high
1725          low               low       5more          more      big    low
1726          low               low       5more          more      big    med
1727          low               low       5more          more      big   high

[1728 rows x 6 columns]

In [12]:
y

0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1723     good
1724    vgood
1725    unacc
1726     good
1727    vgood
Name: decision, Length: 1728, dtype: object

In [13]:
Gamer.isnull().sum()

buying_price         0
maintainance_cost    0
no_of_doors          0
no_of_persons        0
lug_boot             0
safety               0
decision             0
dtype: int64

In [14]:
cardata=Gamer.copy()
Gamer['decision'].replace(['unacc','acc','good','vgood'],[0,1,1,1], inplace=True) 
Gamer['buying_price'].replace(['low', 'med',  'high','vhigh',],[0,1,2,3], inplace=True)
Gamer['maintainance_cost'].replace(['low', 'med',  'high','vhigh',],[0,1,2,3], inplace=True)
Gamer['no_of_doors'].replace(['2', '3', '4', '5more'],[0,1,2,3], inplace=True) 
Gamer['no_of_persons'].replace(['2', '4', 'more'],[0,1,2], inplace=True) 
Gamer['lug_boot'].replace(['small', 'med', 'big'],[0,1,2], inplace=True)
Gamer['safety'].replace(['low', 'med', 'high'],[0,1,2], inplace=True)
Gamer.head()

,buying_price,maintainance_cost,no_of_doors,no_of_persons,lug_boot,safety,decision
0,3,3,0,0,0,0,0
1,3,3,0,0,0,1,0
2,3,3,0,0,0,2,0
3,3,3,0,0,1,0,0
4,3,3,0,0,1,1,0

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [16]:
import category_encoders as ce

encoder = ce.OrdinalEncoder(cols=['buying_price', 'maintainance_cost', 'no_of_doors', 'no_of_persons',
       'lug_boot', 'safety',])

X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [17]:
X_train.head()

,buying_price,maintainance_cost,no_of_doors,no_of_persons,lug_boot,safety
107,1,1,1,1,1,1
901,2,1,2,2,2,2
1709,3,2,1,3,1,1
706,4,3,3,3,3,2
678,4,3,2,3,3,3

In [18]:
X_test.head()

,buying_price,maintainance_cost,no_of_doors,no_of_persons,lug_boot,safety
599,4,4,3,3,3,1
1201,2,2,4,2,3,2
628,4,4,1,3,1,2
1498,3,4,1,2,3,2
1263,2,2,3,1,3,3

In [19]:
params={
    'criterion':['gini','entropy'],
    'class_weight':[None,'balanced']
}

In [20]:
clf=DecisionTreeClassifier()
clf_search=GridSearchCV(clf,params,cv=5)
clf_search.fit(X_train,y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'class_weight': [None, 'balanced'],
                         'criterion': ['gini', 'entropy']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [21]:
clf_search.best_params_

{'class_weight': None, 'criterion': 'entropy'}

In [22]:
clf_gini = DecisionTreeClassifier(criterion='entropy',class_weight=None, random_state=0)


# fit the model
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [23]:
y_pred_gini = clf_gini.predict(X_test)

In [24]:
from sklearn.metrics import accuracy_score

print('Model accuracy score with criterion gini index: {0:0.4f}'. format(accuracy_score(y_test, y_pred_gini)))

Model accuracy score with criterion gini index: 0.9913

In [25]:
y_pred_test_gini = clf_gini.predict(X_test)
acc=accuracy_score(y_test,y_pred_test_gini)
acc

0.9913294797687862